<div class="flex flex-col flex-auto md:w-160 md:min-w-160 -m-6">
    <ng-container>
        <!-- Image -->
        <ng-container>
            <div class="relative w-full">
                <!--<div class="absolute right-0 bottom-0 p-4">
                    <button
                        mat-icon-button
                        (click)="removeImage(_data)">
                        <mat-icon
                            class="text-white"
                            [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    </button>
                </div>-->
                <img
                    class="w-full object-cover"
                    [src]="'assets/chiefeat/menus/' + _data.image">
            </div>
        </ng-container>
        <div class="m-4">
            <!-- Title -->
            <strong style="margin-left: 10px ; font-size: 20px">
                {{_data.title}}
            </strong>
            <br><br>
            <!-- Chief -->
            <div style="margin-left: 10px ; font-size: 15px">
                Prix : <strong>50,45 €</strong>
            </div> <br>
            <!-- Chief -->
            <div style="margin-left: 10px ; font-size: 15px">
                Chief : <strong>John DOE</strong>
            </div> <br>
            <!-- Note -->
            <div class="flex w-full py-5 px-2">
                {{_data.description}}
            </div> <br>
            <!-- Nombre de Personnes -->
            <div style="margin-left: 10px ; font-size: 15px">
                Nombre de Personnes : <strong>5</strong>
            </div> <br>
            <!-- Temps de préparation -->
            <div style="margin-left: 10px ; font-size: 15px">
                Temps de préparation : <strong>1/30 min</strong>
            </div> <br>
            <!-- Categories -->
            <div style="margin-left: 10px ; font-size: 15px">
                Categories : <strong>Categorie 1, Categorie 2, Categorie 3</strong>
            </div> <br>
            <!-- Edit Actions -->
            <ng-container *ngIf="_data.id">
                <div class="flex items-center justify-between mt-4">
                    <!-- Close -->
                    <button
                        mat-flat-button
                        matDialogClose>
                        Fermer
                    </button>
                </div>
            </ng-container>
        </div>
    </ng-container>

</div>
