<div class="w-full mt-8">
    <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex">
            <div class="flex-auto p-6">
                <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Nouveaux Inscrits (Chiefs)
                </div>
                <div class="text-secondary font-medium">10 Nouveaux inscrits</div>
            </div>
            <!-- Main actions -->
            <div class="flex-auto items-center mt-4 sm:mt-0 md:mt-4">
                <!-- Search -->
                <div class="flex">
                    <mat-form-field
                        class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        <input
                            matInput
                            [(ngModel)]="searchKey"
                            [autocomplete]="'off'"
                            [placeholder]="'Search...'">
                    </mat-form-field>

                    <!-- Add contact button (click)="findEventTicketsByPage(page, size)" -->
                    <button
                        class="ml-4 mr-5"
                        mat-flat-button
                        [color]="'primary'">
                        <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <span class="ml-2 mr-1">Rechercher</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto mx-6">
            <table
                class="w-full bg-transparent"
                mat-table
                matSort
                [dataSource]="listNewChiefs"
                [trackBy]="trackByFn"
                #listNewChiefsTable >

                <!-- Nom -->
                <ng-container matColumnDef="Nom">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.lastName.toUpperCase()}}</span>
                    </td>
                </ng-container>

                <!-- Nom -->
                <ng-container matColumnDef="Prenom">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Prénom</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.firstName}}</span>
                    </td>
                </ng-container>

                <!-- Type -->
                <ng-container matColumnDef="Email">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.email}}</span>
                    </td>
                </ng-container>

                <!-- Type -->
                <ng-container matColumnDef="Teléphone">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Teléphone</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.phone}}</span>
                    </td>
                </ng-container>

                <!-- Type -->
                <ng-container matColumnDef="Adhesion">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Adhesion</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.date}}</span>
                    </td>
                </ng-container>

                <!-- Type -->
                <ng-container matColumnDef="N°SIREN">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>N°SIREN</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.siren}}</span>
                    </td>
                </ng-container>

                <!-- Type -->
                <ng-container matColumnDef="Alerte">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Alerte</th>
                    <td mat-cell *matCellDef="let item">
                        <span *ngIf="!item.alert" class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50">OK</span>
                        <span *ngIf="item.alert" class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50" style="color: red">Doublon</span>
                    </td>
                </ng-container>

                <!-- Type -->
                <ng-container matColumnDef="Options">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef style="padding-left: 10%">Options</th>
                    <td mat-cell *matCellDef="let item">
                        <button class="mr-3" mat-stroked-button><span class="inline-flex items-center">Valider</span></button>
                        <button class="mr-3" mat-stroked-button><span class="inline-flex items-center">Desactiver</span></button>
                        <button mat-stroked-button><span class="inline-flex items-center">Details</span>
                            <mat-icon
                                class="ml-1.5 icon-size-5"
                                [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr
                    mat-header-row
                    *matHeaderRowDef="columnsNewChiefs"></tr>
                <tr
                    class="order-row h-16"
                    mat-row
                    *matRowDef="let row; columns: columnsNewChiefs;"></tr>
            </table>
            <mat-paginator (page)="getPaging($event)" #paginator [length]="totalTickets"
                           [pageIndex]="currentPage" [pageSize]="size"
                           [pageSizeOptions]="[1,2,3,5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>
</div>
