<div class="w-full mt-8">
    <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex">
            <div class="flex-auto p-6">
                <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Liste des Chiefs Actifs
                </div>
                <div class="text-secondary font-medium">{{listActifsChiefs.length}} Chiefs actifs</div>
            </div>
            <!-- Main actions -->
            <div class="flex-auto items-center mt-4 sm:mt-0 md:mt-4">
                <!-- Search -->
                <div class="flex">
                    <mat-form-field
                        class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        <input
                            matInput
                            [(ngModel)]="searchKey"
                            [autocomplete]="'off'"
                            [placeholder]="'Search...'">
                    </mat-form-field>

                    <!-- Add contact button (click)="findEventTicketsByPage(page, size)" -->
                    <button (click)="searchClick()"
                            class="ml-4 mr-5"
                            mat-flat-button
                            [color]="'primary'">
                        <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <span class="ml-2 mr-1">Rechercher</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto mx-6">
            <table
                class="w-full bg-transparent"
                mat-table
                matSort
                [dataSource]="listToShow"
                [trackBy]="trackByFn"
                #listActifsChiefsTable >

                <!-- Nom -->
                <ng-container matColumnDef="Nom">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.lastname.toUpperCase()}}</span>
                    </td>
                </ng-container>

                <!-- Nom -->
                <ng-container matColumnDef="Prenom">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Prénom</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.firstname}}</span>
                    </td>
                </ng-container>

                <!-- Type -->
                <ng-container matColumnDef="Email">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.email}}</span>
                    </td>
                </ng-container>

                <!-- Type -->
                <ng-container matColumnDef="Teléphone">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Teléphone</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.phoneNumber}}</span>
                    </td>
                </ng-container>

                <!-- Type -->
                <!--<ng-container matColumnDef="Avertissements">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Avertissements</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.warning}}</span>
                    </td>
                </ng-container>-->
                <!-- Type -->
                <ng-container matColumnDef="Adhésion">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Adhesion</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item?.createdAt | date: 'short'}}</span>
                    </td>
                </ng-container>

                <!-- Type -->
                <!--<ng-container matColumnDef="Resas en cours">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Resas en cours</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.resasRunning}}</span>
                    </td>
                </ng-container>

                &lt;!&ndash; Type &ndash;&gt;
                <ng-container matColumnDef="Resas terminées">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Resas terminées</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.resasfinised}}</span>
                    </td>
                </ng-container>

                &lt;!&ndash; Type &ndash;&gt;
                <ng-container matColumnDef="Annulations">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Annulations</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item.cancels}}</span>
                    </td>
                </ng-container>-->

                <!-- Type -->
                <ng-container matColumnDef="Moyenne">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Moyenne</th>
                    <td mat-cell *matCellDef="let item">
                        <span class="pr-6 whitespace-nowrap">{{item?.rating || 'NAN'}}</span>
                    </td>
                </ng-container>

                <!-- Type -->
                <ng-container matColumnDef="Options">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Options</th>
                    <td mat-cell *matCellDef="let item" style="padding-left: 20px">
                        <!--<button (click)="disableClicked(item)" class="mr-3" mat-stroked-button><span class="inline-flex items-center">Desactiver</span></button>-->
                        <!--<button class="mr-3" mat-stroked-button><span class="inline-flex items-center">Valider</span></button> -->
                        <button (click)="userClicked(item)" mat-stroked-button><span class="inline-flex items-center">Details</span>
                            <mat-icon
                                class="ml-1.5 icon-size-5"
                                [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr
                    mat-header-row
                    *matHeaderRowDef="columnsActifsChiefs"></tr>
                <tr
                    class="order-row h-16"
                    mat-row
                    *matRowDef="let row; columns: columnsActifsChiefs;"></tr>
            </table>
            <!--<mat-paginator (page)="getPaging($event)" #paginator [length]="totalTickets"
                           [pageIndex]="currentPage" [pageSize]="size"
                           [pageSizeOptions]="[1,2,3,5, 10, 25, 100]">
            </mat-paginator>-->
        </div>
    </div>
</div>
